//@media
$xs:	0px;
$sm:	576px;
$md:	768px;
$lg:	992px;
$xl:	1200px;
//@color
$color-red: #ff0000;
$color-green: #00ff00;
$color-blue: #0000ff;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #cccccc;
$color-gray-light: #efefef;
$color-gray-dark: #999999;
$color-formatic-light-blue: #19bbdb;
$color-base-footer: #37474f;
$color-active: #F1C050;
$color-img-card-sh1: #554346;
$color-img-card-sh2:#45505b;
$color-nav-link: #1cc8e1;
$color-logo-sh: #1b1b1b;
//@slider-color
$slider1-color1: #013A6B;
$slider1-color2: #004E95;
$slider3-color1: #aebecb;
$slider3-color2: #949495;
//@us-color
$us-Light-Greenish-Blue: #55efc4;
$us-Faded-Poster: #81ecec;
$us-Green-Darner-Tail: #74b9ff;
$us-Shy-Moment: #a29bfe;
$us-City-Lights: #dfe6e9;
$us-Mint-Leaf: #00b894;
$us-Robins-Egg-Blue: #00cec9;
$us-Electron-Blue: #0984e3;
$us-Exodus-Fruit: #6c5ce7;
$us-Soothing-Breeze: #b2bec3;
$us-Sour-Lemon: #ffeaa7;
$us-First-Date: #fab1a0;
$us-Pink-Glamour: #ff7675;
$us-Pico-8-Pink: #fd79a8;
$us-American-River: #636e72;
$us-Bright-Yarrow: #fdcb6e;
$us-Orange-ville: #e17055;
$us-Chi-Gong: #d63031;
$us-Prunus-Avium: #e84393;
$us-Dracula-Orchid: #2d3436;
//@in-color
$Orchid-Orange: #fea47f;
$Spiro-Disco-Ball: #25ccf7;
$Honey-Glow: #eab543;
$Sweet-Garden: #55e6c1;
$Falling-Star: #cad3c8;
$Rich-Gardenia: #f97f51;
$Clear-Chill: #1b9cfc;
$Sarawak-White-Pepper: #f8efba;
$Keppel: #58b19f;
$Ships-Officer: #2c3a47;
$Fiery-Fuchsia: #b33771;
$Bluebell: #3b3b98;
$Georgia-Peach: #fd7272;
$Oasis-Stream: #9aecdb;
$Bright-Ube: #d6a2e8;
$Magenta-Purple: #6d214f;
$Ending-Navy-Blue: #182c61;
$Sasquatch-Socks: #fc427b;
$Pine-Glade: #bdc581;
$Highlighter-Lavender: #82589f;