@import '../../assets/css/variables.scss';
footer {
  background-color: rgb(0, 0, 0);
  & .nav-dropdown-bottom {
    display: none;
    bottom: 0;
    background: $color-formatic-light-blue;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    li.nav-item {
      border-right: 1px solid $color-gray;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      width: 30%;
      &.home-list + .home-list + li,
      &.home-list + .home-list + li + li {
        display: none;
      }
      &:first-child {
        width: 10%;
      }
      &:last-child {
        border-right: 0px;
      }
      a {
        color: $color-white;
      }
      &.home-list a {
        padding: 0.5rem .7rem;
      }
    }
  }
  .container {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
  &.open-footer-menu {
    .nav-dropdown-bottom {
      position: fixed;
      & + div {
        padding-bottom: 4.50rem;
      }
    }
  }
}
